[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.103.1"
uvicorn = "==0.23.2"
sqlalchemy = "==2.0.20"
alembic = "==1.12.0"
psycopg2 = "==2.9.7"
jinja2 = "==3.1.2"
python-dotenv = "==1.0.0"
environs = "==9.5.0"

[dev-packages]
black = "==23.9.1"
epc = "==0.0.5"
importmagic = "==0.1.7"
isort = "==5.12.0"
flake8 = "==6.1.0"
ipython = "8.16.1"
pytest = "==7.4.2"
httpx = "==0.25.0"
pytest-dotenv = "==0.5.2"
pytest-cov = "==4.1.0"
pytest-factoryboy = "==2.5.1"
pytest-mock = "==3.11.1"
pre-commit = "==3.4.0"

[scripts]
test = "pytest"
pre-commit = "pre-commit run --show-diff-on-failure --color=always --all-files"

[requires]
python_version = "3.11"
